body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #F7090B;
    margin-bottom: 4px;
}

button {
    background: #F7090B;
    color: white;
    border: 2px solid #F7090B;
    padding: 10px 20px;
    font-weight: bold;
}

#delete-btn {
    background: #fff;
    color: #F7090B;
    padding: 10px 20px;
    border: 2px solid #F7090B;
    border-color: #F7090B;
    font-weight: bold;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: black;
}
